parameters:
    database_driver:        pdo_mysql
    database_host:          127.0.0.1
    database_dbname:        teampass_db
    database_user:          root
    database_password:      ~
    database_prefix:        teampass
    database_charset:       utf8

    locale:                 en
    encoder:                lite
    # The secret value is a random string of characters, numbers and symbols. use with standalone encoder
    secret:                 ThisTokenIsNotSoSecretChangeIt

    # Please past salt from teampass
    teampass_salt:          ~

    endpoint:               api
    version:                v1
